.p {
  font-size: 20px;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  margin: 20px;
  margin-top: 20px;
}
.image {
  max-width: 94%;
  margin: auto;
  border-radius: 3%;
  place-items: center;
  justify-content: center;
  display: flex;
  
}

.qrcomponent {
  width: 300px;
  align-items: center;
  background-color: white;
  border-radius: 3%;
  justify-content: center;
  place-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 25px;
  font-family: "Outfit", sans-serif;
}
.p1 {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  color: hsl(220, 15%, 55%);
  margin: 10px;
}
.body {
  background-color: hsl(212, 45%, 89%);
  justify-content: center;
  display: flex;
  margin: 150px;
}
